/*

[Theme Color 1 Stylesheet]

Project: EcoHosting - Responsive HTML5 Hosting and WHMCS Template
Version: 2.5
Author : themelooks.com

*/


/*------------------------------------*\
    COLORS
\*------------------------------------*/
.menu-topbar--contact > ul > li > a > i.fa,
.menu-topbar--social > li > a:hover,
.menu-topbar--social > li > a:focus,
.primary--content p.count,
.primary--logo h1 a span,
.datacenter-location-marker,
#copyright p a,
.contact-info a:hover,
.contact-info a:focus,
.vps-pricing--slider .ui-slider-handle i.fa,
#pageTitle .breadcrumb > li > a:hover,
#pageTitle .breadcrumb > li > a:focus,
#pageTitle .breadcrumb > li.active,
#loginForm p.help-block a:hover,
.widget.recent-items a.footer-thumb-link:hover,
.widget.recent-items a.footer-thumb-link:focus,
.widget.categories li:hover a,
.widget.tags li:hover a,
.widget.archives li:hover a,
.blog-item:hover .blog-item-content h2 a,
.blog-item.full-post:hover a.btn-custom:hover,
.blog-item.full-post .post-author-metadata a:hover,
.comment-thumb a,
.blog-item-content li,
.blog-item-content blockquote {
    color: #6aaf08;
}


/*------------------------------------*\
    BACKGROUND COLORS
\*------------------------------------*/
#secondaryMenu,
.secondary-menu-links > .dropdown > .dropdown-menu > li > a:hover,
.secondary-menu-links > .dropdown > .dropdown-menu > li > a:focus,
.secondary-menu-links > .dropdown > .dropdown-menu > li.active > a,
.secondary-menu-links > .dropdown > .dropdown-menu > li.active > a:hover,
.secondary-menu-links > .dropdown > .dropdown-menu > li.active > a:focus,
.header-item-badge-2,
#backToTop a,
.header-item-content,
.header--slider-nav ul li p:hover i.fa,
.header--slider-nav ul li.active p i.fa,
#offer .left-content p,
#domainSearchForm button[type="submit"],
.domain--offer,
.section-title h2:before,
.btn-custom-reverse,
a.btn-custom-reverse,
.pt-plan,
.testimonial-slider .owl-page.active:before,
.footer-widget h4:before,
#subscribeForm .submit-button,
.pt-head .popular-indicator,
.accordion .panel-heading a,
.vps-pricing--slider .ui-slider-handle em,
#compare table thead,
.domain-banner-content p,
#pricingTable2 table thead,
.team-social-links ul li a:hover,
.team-social-links ul li a:hover,
.timeline--date,
.faq-categories ul li a:hover,
.faq-categories ul li.active a,
#testimonial.no-bg .testimonial-slider .owl-page.active:before,
#loginForm .submit-button,
.widget.search .input-group-addon,
.widget-title:before,
.post-social-links li a:hover,
a.comment-reply,
.post-comment-form-group .form-control.submit-btn,
.contact-address h2:before,
.contact-social-links li a:hover,
.contact-social-links li a:focus,
#contactForm .submit-button,
#preloader {
    background-color: #6aaf08;
}


/*------------------------------------*\
    BORDER COLORS
\*------------------------------------*/
.team-social-links ul li a:hover,
.team-social-links ul li a:hover,
#testimonial.no-bg .testimonial-slider .owl-page.active,
.post-social-links li a:hover,
.post-comment-form-group .form-control.submit-btn,
.contact-social-links li a:hover,
.contact-social-links li a:focus,
.blog-item-content blockquote {
    border-color: #6aaf08;
}

/* BORDER TOP COLORS */
.domain--offer:before,
.pt-head,
.vps-pricing--slider .ui-slider-handle:before,
.faq-categories ul li a:before {
    border-top-color: #6aaf08;
}

/* BORDER LEFT COLORS */
.header--slider-nav ul li:hover,
.header--slider-nav ul li.active {
    border-left-color: #6aaf08;
}

/* BORDER BOTTOM COLORS */
.pt-head .caption {
    border-bottom-color: #6aaf08;
}
